<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="methods" thread-count="5">
    <test name="Parallel UI Tests Execution">
        <classes>
            <class name="tests.ui.LogInTests"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="core.listeners.TestListener"/>
    </listeners>
</suite>